body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
@media (min-width: 992px) {
    .item.active-next {
        display: block;
    }
}

.carousel-inner > .item.active,
.carousel-inner > .item.active-next {
    opacity: 1;
    transition: all 0.3s ease;
}

.carousel-inner > .item:not(.active):not(.active-next) {
    opacity: 0.5;
  
}

.carousel-inner > .item.transitioning {
    opacity: 0.2;
    transition: all 0.4s ease;
}

.carousel-control.left,
.carousel-control.right {
    background-image: initial;
}

.carousel-inner > .item.active {
    transform: translate3d(0,0,0);
}
.carousel-inner > .item.active.col-md-pull-4,
.carousel-inner > .item.active.col-md-pull-8 {
    left:initial;
}

